body{
    background-color: rgba(99, 95, 95, 0.636);
    padding: 0;
    margin: 0;
    border-radius: 0;
}

form{
    display: flex;
    gap: 200px;
    margin-top: 50px; 
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.informacoes{
    height: 250px;
    width: 500px;
}

button{
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
}

input{
    height: 50px;
    width: 500px;
    display: flex;  
}

main{
    margin-top: 50px;
    height: 550px;
    width: 1910px;
    background-color: rgb(255, 255, 255);
}

nav{
    display: flex;
    gap: 27%;
    margin-left: 100px;
    border-color: black;
}